﻿@model IEnumerable<AgileTraining.Model.Entities.Proyect>


<table id="tblProyects" class="table table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th class="center-align">
                ID
            </th>
            <th class="center-align">
                Nombre
            </th>
            @*<th class="center-align">
                DGA
            </th>*@
            <th class="center-align">
                Área
            </th>
            <th class="center-align">
                Coach
            </th>
            <th class="center-align">
                Inicio
            </th>
            <th class="center-align">
                Presupuesto
            </th>
            <th class="center-align">
                Estatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td  class="center-align">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="center-align">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td class="center-align">
                    @Html.DisplayFor(modelItem => item.DGAName)
                </td>*@
                <td class="center-align">
                    @Html.DisplayFor(modelItem => item.AreaName)
                </td>
                <td class="center-align">
                    @Html.DisplayFor(modelItem => item.CoachName)
                </td>
                <td class="center-align">
                    @Html.DisplayFor(modelItem => item.sStartDate)
                </td>
                <td class="center-align">
                    @Html.DisplayFor(modelItem => item.sPresupuesto)
                </td>
                <td class="center-align">
                    @{
                        if (item.Status == "A")
                        {
                            <a>ACTIVO</a>
                        }
                        else
                        if (item.Status == "C")
                        {
                            <a style="color: red">CANCELADO</a>
                        }
                        else
                        if (item.Status == "S")
                        {
                            <a style="color: green">ESPERA</a>
                        }
                        else
                        if (item.Status == "CM")
                        {
                            <a>CAMBIO METODOLOGIA</a>
                        }
                        else
                         if (item.Status == "T")
                        {
                            <a>TERMINADO</a>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Status)
                        }

                    }

                </td>
                <td class="center-align">
                    <a id="@item.Id" href="#" onclick="EditProyect(this);return false;" title="Editar proyecto"> <i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


